.dropdown-item{
	color:rgba(255,255,255,.75)
}
.navbar-brand-image{
	height: 40px;
}
.navbar{
	border-radius: 0px;
}
#paintboard{
	height: 90vh;
	width: 100vw;
	display: block;
	background-color: red;
}